.message {
  color: #c778dd;
  text-align: center;
  margin: 5rem;
  &__h1 {
    font-size: 288px;
    margin: 0;
    padding: 0;
  }
  &__error {
    font-size: 36px;
    font-weight: 500;
  }
  &__back {
    font-size: 18px;
    color: #c778dd;
  }
}
