.footer {
  color: #fff;
  padding: 20px 0;
  text-align: center;

  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    p {
      margin: 0;
    }
  }

  @media (max-width: 768px) {
    .footer-content {
      font-size: 14px;
    }
  }
}
